:root {
    --body-bg-color: #e9fbffe0; 
}

body {
    padding: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--body-bg-color);
    z-index: 700;
}

.dropdown-content {
    display: none; /* Masquer le contenu par défaut */
    position: absolute; /* Positionner le contenu */
    background-color: white; /* Couleur de fond du menu déroulant */
    min-width: 160px; /* Largeur minimale */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Ombre */
    z-index: 1; /* Assurez-vous qu'il est au-dessus */
}

.dropdown-content a {
    color: black; /* Couleur du texte des liens */
    padding: 12px 16px; /* Espacement */
    text-decoration: none; /* Pas de soulignement */
    display: block; /* Chaque lien occupe une ligne entière */
}

.dropdown-content a:hover {
    background-color: rgba(87, 87, 87, 0.7); /* Couleur de fond au survol */
}

.logo img {
    height: 90px; 
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px; 
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
   
}

.nav-links a:hover {
    background-color: #b2c7ff; 
    border-radius: 10px; 
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #b2c7ff;
    border-radius: 20px;
    padding: 5px 15px;
    width: 300px;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #666;
    flex-grow: 1;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #80a5e2; /* Couleur au survol */
}

.search-bar img {
    width: 20px;
    height: 20px;
}

.hero-section {
    background-image: url('../assets/images/rectangle_3.png'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
    padding-top: 100px;
   
}

.content {
    background-color: rgba(24, 86, 229, 0.612); /* Couleur de l'arrière-plan avec transparence */
    padding: 80px;
    display: inline-block;
}

.welcome-text {
    font-size: 24px;
    margin: 0;
}

.company-name {
    color: #FFC300; /* Couleur personnalisée pour le nom de l'entreprise */
    font-style: oblique;
    font-weight: bold;
}

.company-name1 {
    color: #FFC300; /* Couleur personnalisée pour le nom de l'entreprise */
    font-style: oblique;
    font-weight: bold;
}

.main-heading {
    font-size: 36px;
    margin: 20px 0;
    line-height: 1.3;
}

.main-heading1 {
    font-size: 36px;
    margin: 40px 0;
    line-height: 1.3;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    height: 100px;
}

.sub-text {
    font-size: 15px;
    margin: 10px 0;
    font-style: oblique;
}


.services1 {
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
    padding-top: 60px;
}

.section-title {
    font-size: 45px;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #777;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card-icon {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #777;
}

.learn-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b5c7ff;
    color: #333;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #829cff;
    color: white;
}

.about-section {
    background: url('../assets/images/financier.webp') no-repeat center center/cover, #6e92e4;
    background-color: #809de2;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 100px;
    padding-top: 60px;
    
  }
  
  .about-container {
    background-color: rgba(24, 86, 229, 0.612);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-section {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-end;
  }
  
  .profile-picture {
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .name {
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
  
  h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .services-list {
    list-style-type: none;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: right;
  }
  
  .services-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px; 
    color: white;
  }

  .services-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px; 
    width: 10px;
    height: 10px;
    background-color: #1d1c28; 
    border-radius: 3px; /
  }

  .services-list1 {
    list-style-type: none; 
    margin-bottom: 20px;
    padding-left: 0;
    color: rgb(255, 255, 255);
    text-align: right;
  }
  
  .services-list1 li {
    margin-bottom: 10px;
    position: relative;
    padding-right: 20px; 
    color: white;
  }
  
  .services-list1 li::after {
    content: '';
    position: absolute;
    right: 0; 
    top: 5px; 
    width: 10px;
    height: 10px;
    background-color: #1d1c28; 
    border-radius: 3px; 
  }
  
  .description {
    color: white;
    font-size: 16px;
  }
  
  .company-name2 {
    font-weight: bold;
    color: #FFC300; 
    font-style: oblique;
  }
  
.container1 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-section {
    width: 60%;
}

.text-section p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
}

.image-section {
    width: 50%;
    height: 50%;
}

.image-section img {
    max-width: 100%;
    height: 400px;
    width: 500px;
    display: block;
}

.container2 {
    width: 100%;
    padding: 0% 20px;
    margin-top: 50px;
    background-color: #3b7cca;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

h1 span {
    color: #FFC300;
    font-style: oblique;
    font-size: 30px;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #1b1c39;
    padding: 20px 0;
    color: white;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-section p {
    margin: 8px 0;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.footer-section p .icon {
    margin-right: 10px;
}

.footer-social {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-icon {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-social {
        justify-content: center;
    }
}
